.page-wrapper {
  overflow: hidden;
}

.subtitleText {
  font-size: 1.5rem;
}

.gridAbaout {
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100% !important;
}

.section4ro {
  height: auto;
  width: auto;
}

.containerName {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  opacity: 0.5;
  padding: 2rem;
}

.stageStrong {
  font-size: 1.75rem !important;
}

.titleGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  margin-bottom: 1.5rem;
}

.section2 {
  opacity: 0;
  padding-left: 4.5rem;
}

.sectionimg3 {
  display: flex;
  flex-direction: row;
  height: min-content;
  margin-bottom: 15px;
}
.sectiontext3 {
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 1.2rem;
}

.textDisplay {
  display: flex;
  flex-direction: column;
}

.gifsection4 {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  height: min-content;
  margin-bottom: 5rem;
}

.h1Letus {
  opacity: 0;
  line-height: 40px !important;
  margin-bottom: 2rem !important;
}
.featurestext {
  text-align: start;
  font-size: 1.25rem;
}

.card {
  position: absolute;
  width: 100%;
  height: 16.5rem;
  background-color: #fdfdfd;
  color: #0d0d3f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  height: 16.5rem;
  width: 100%;
  margin-top: 2rem !important;
  background-color: #fdfdfd;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container {
  display: flex;
  flex-direction: column;
}

.textFooter {
  font-size: 1.2rem;
  color: #0d0d3f;
  font-size: 1rem;
  font-weight: 400;
}

.textFooter2 {
  font-size: 1.2rem;
  color: #0d0d3f;
  font-size: 1rem;
  font-weight: 400;
}

.image-text {
  font-size: 0.8rem;
  padding-left: 0.8rem;
  line-height: 1.2;
}

.sectionRocketshadow {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  height: min-content;
}

.letusSEC {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  height: min-content;
  width: auto;
}

.titleList {
  list-style: none;
  padding: 0;
}

.textlist {
  opacity: 0.7;
}

.titleList li {
  display: flex;
  align-items: center;
}

.titleList img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.titleList strong {
  font-size: 1.25rem;
}

.separeteList {
  margin-bottom: 25px;
}

.imageColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 1.5rem;
}

.imageColumn img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.fontTitle {
  font-size: 2rem;
  font-weight: 300;
  white-space: nowrap;
}
.fontText {
  font-size: 3.8rem;
  color: #ff7e3d;
  font-weight: 300;
  margin-top: 1rem;
  white-space: nowrap;
}

.parrStyle {
  width: 100%;
  font-size: 1.3rem;
  color: #ff7e3d;
  font-weight: 400;
  margin-top: 1.20rem;
  text-align: center;
  text-decoration: none;
  flex: auto;
  flex-direction: column;
  justify-content: center;
}

.ImgStyle {
  height: 7.5rem;
  padding: 1.5rem;
  width: auto;
  opacity: 0.5;
  background-image: url("../images/ULXWISf.gif");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
}

.flexit {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.stageiMG {
  height: auto !important;
  width: 8rem !important;
  opacity: 0.7;
}

.cardGrid {
  height: 15rem;
  width: 100%;
  border-radius: 15px;
  display: flex;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #8383ff;
}

.iconContainer {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #8383ff;
}

.logoSize {
  height: 2.8rem;
  width: auto;
  transform-style: revert !important;
}

.logoSizeNaran {
  height: auto;
  width: 4rem;
  transform-style: revert !important;
}

.header {
  background-color: #fdfdfd;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

.header ul {
  list-style: none;
  overflow: hidden;
  background-color: #fdfdfd;
}

.header li a {
  display: block;
  text-decoration: none;

  color: #0d0d3f;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #fdfdfd;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  text-align: center;
  transition: max-height 0.2s ease-out;
  gap: 100px;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.hero-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.body {
  background-color: #fdfdfd;
  font-family: Montserrat, sans-serif;
}

.hero-container {
  width: 100%;
  height: auto;
  max-width: 1000px;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  text-align: center;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  margin-left: -200px;
  padding: 0 60px;
  display: grid;
  transform: rotate(-9deg);
}

.section {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.section3 {
  width: 100vw;
  height: auto;
  text-align: center;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  position: relative;
}

.section7 {
  width: 100vw;
  height: auto;
  text-align: center;
  padding-right: 16rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  position: relative;
}

.section7 .column-items .textFooter {
  position: relative;
  display: flex;
  align-items: center;
}

.section7 .column-items .textFooter .imageFooter {
  margin-right: 10px;
}

.imageFooter {
  width: auto;
  height: 2.2rem;
}

.imageFooter2 {
  width: auto;
  height: 4rem;
}

.section7 .column-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 4rem;
  padding-right: 4rem;
  gap: 1rem;
  bottom: 0;
  right: 0;
}

.section7 .column-items > * {
  margin-bottom: 10px;
}

.section.margin-top-220 {
  height: auto;
  margin-top: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section.margin-top-100 {
  height: auto;
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.top-view-jaguar {
  z-index: 10;
  width: auto;
  height: 1300px;
  margin-top: 230px;
  position: relative;
}
.top-view-jaguar2 {
  z-index: 10;
  width: auto;
  height: 56.25rem;
  position: relative;
  margin-top: 4rem;
  transform-style: revert !important;
}
.rotcoh {
  transform: rotate(-12deg);
  height: fit-content;
  width: fit-content;
  position: relative;
}

.h1 {
  color: #0d0d3f;
  text-align: left;
  letter-spacing: -2px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 58px !important;
}

.fontTitlestrong {
  color: #ff7e3d;
  font-weight: 500;
  white-space: nowrap;
}

.fontTitleText {
  white-space: nowrap;
}

.h1.outline {
  color: #efefef;
}

.hero-left-column {
  width: 480px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.rocketpart {
  height: auto !important;
  width: 2.5rem !important;
  opacity: 0.5;
}

.hero-right-column {
  width: 700px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -75px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.h2 {
  color: #0d0d3f;
  text-align: start;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

.h2Person {
  color: #0d0d3f;
  text-align: start;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: 0.68rem;
  font-weight: 500;
  text-decoration: none;
  line-height: 25px;
}

.h2.margin-top-100 {
  margin-top: 100px;
}

.jaguar-text {
  color: #2e2e2e;
  text-align: left;
  letter-spacing: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}

.d-type-text {
  color: #2e2e2e;
  text-align: left;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 300;
  line-height: 36px;
}

.graphic-element-01 {
  width: 1px;
  height: 500px;
  background-color: #acacac;
  margin-left: -70px;
  position: absolute;
  top: -20px;
  transform-style: revert !important;
}

.graphic-element-02 {
  width: 35px;
  height: 1000px;
  background-color: rgba(128, 128, 128, 0.173);
  opacity: 0.4;
  margin-left: -320px;
  position: absolute;
  border-radius: 8rem;
  transform-style: revert !important;
}

.graphic-element-03 {
  width: 25px;
  background-color: rgba(128, 128, 128, 0.173);
  opacity: 0.4;
  height: 1000px;
  margin-left: -235px;
  position: absolute;
  top: -880px;
  border-radius: 8rem;
  transform-style: revert !important;
}

.graphic-element-04 {
  width: 1px;
  height: 1000px;
  background-color: #a8a8a8;
  margin-left: -360px;
  position: absolute;
  top: -590px;
  transform-style: revert !important;
}

.date {
  color: #aaa;
  text-align: left;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}

.outline-block {
  border: 1px solid #ffbe0b;
  margin-top: 10px;
  margin-left: 2rem;
  padding-left: 10px;
  padding-right: 10px;
  transform-style: revert !important;
}

.date-block {
  background-color: #2e2e2e;
  padding: 10px 20px;
}

.container {
  width: 730px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  font-size: 16px;
  font-weight: 200;
  line-height: 35px;
  transform: translate(0);
}

.paragraph {
  margin-top: 2rem;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  color: #0d0d3f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.paragraph._2 {
  width: 380px;
  margin-left: 48px;
  position: relative;
}

.row-2-columns {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  color: #0d0d3f;
}

.column {
  width: 100%;
}

sup {
  font-weight: 500;
}

.contedorgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10rem;
  padding-top: 6rem;
  padding-bottom: 0rem;
  gap: 3rem;
}

.contedorgrid2 {
  width: 32rem !important;
  display: grid !important;
  grid-template-columns: 1fr !important;
  /*   grid-gap: 1rem; */
}

.imadiv {
  height: fit-content !important;
  width: 100% !important;
  margin-top: 2rem;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.contedorgrid2 img {
  height: auto;
  width: 100%;
}

.cardimage {
  height: 5.5rem !important;
  width: auto !important;
}

.cardtext {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  margin: 0;
}

.contedorgrid div {
  padding: 10px;
  display: flex;
  text-align: left;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
}

.labelStyle {
  color: #0d0d3f;
  text-align: start;
  letter-spacing: 8px;
  font-size: 1.1rem;
  font-weight: 520;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 6rem;
}

.indicestyle {
  text-decoration: none !important;
  color: #585858 !important;
}

.labelStyleAnimate {
  color: #585858;
  text-align: start;
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 480;
  line-height: 28px;
}

.labelStylegif {
  color: #0d0d3f;
  text-align: start;
  letter-spacing: 8px;
  font-size: 1.1rem;
  font-weight: 520;
  line-height: 28px;
  margin-top: 50px;
}

.labelStyle2 {
  color: #0d0d3f;
  font-size: 0.8rem;
  display: flex;
  font-weight: 400;
  flex-direction: column;
  text-align: center;
}

.labelStylecon {
  color: #ff7e3d;
  font-size: 1rem;
}

.label {
  color: #2e2e2e;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  display: inline-block;
}

.label._2 {
  width: 110px;
  height: 50px;
  border: 1px solid #2e2e2e;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  display: flex;
}

.bold-text {
  color: #2e2e2e;
  font-size: 20px;
}

.spec-text {
  line-height: 18px;
}

.spec-data {
  text-align: center;
  border: 1px solid #2e2e2e;
  padding: 10px;
}

.spec-divider {
  height: 1px;
  background-color: #2e2e2e;
  flex: 1;
  margin-left: 4px;
  margin-right: 4px;
}

.container-large {
  width: 890px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 5rem;
  line-height: 38px;
}

.container-large2 {
  width: 890px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: 75px;
  font-size: 16px;
  font-weight: 200;
  line-height: 38px;
}

.contentcards {
  width: 890px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 200;
  line-height: 38px;
  display: flex;
  transform: translate(0);
}

.container-large.rotation {
  width: 960px;
  transform: rotate(-9deg);
}

.container-large.space-bottom-200 {
  margin-bottom: 140px;
}

.subtitle {
  color: #ffbe0b;
  text-align: left;
  letter-spacing: 4px;
  font-size: 15px;
  font-weight: 450;
  line-height: 25px;
  margin: 0px !important;
  padding: 10px;
}

.line-separation {
  width: 100%;
  height: 2px;
  background-color: #2e2e2e;
  margin: 100px 0;
  display: flex;
}

.image {
  opacity: 0.78;
  margin-top: 60px;
}

.project-side-view,
.project-top-view {
  width: 400px;
  opacity: 0.78;
  margin-top: 40px;
}

.div-block-5 {
  display: flex;
}

.div-block-6 {
  text-align: center;
}

.gifContainer {
  height: 20rem;
  width: auto;
  padding: 20px;
  border-radius: 30px;
}

.info-block {
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 0.75fr;
  grid-auto-columns: 1fr;
  padding-left: 150px;
  display: grid;
}

.div-block-8 {
  width: 8px;
  height: 8px;
  background-color: #2e2e2e;
}

.info-data {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.label-copy {
  color: #2e2e2e;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  display: inline-block;
}

.label-copy._2 {
  border: 2px solid #2e2e2e;
}

.info-title-wrapper {
  align-items: flex-end;
  display: flex;
}

.info-title-wrapper.margin-top-60 {
  margin-top: 60px;
}

.div-block-11 {
  width: 60px;
  height: 25px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.blueprints-wrapper {
  flex-direction: column;
  justify-content: space-around;
  display: flex;
}

.front-view {
  width: 1170px;
  max-width: none;
  object-fit: fill;
  margin-left: -159px;
  position: static;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: rotate(0);
}

.h3 {
  position: absolute;
}

.big-text {
  color: #2e2e2e;
  text-align: left;
  letter-spacing: -2px;
  white-space: nowrap;
  margin-top: 159px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 100px;
  font-weight: 800;
  line-height: 79px;
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.big-text.outline {
  color: #efefef;
}

.paragraph-absolut {
  text-align: left;
  font-size: 16px;
  position: static;
}

.front-text-block {
  width: 790px;
  flex-direction: column;
  margin-left: -79px;
  display: flex;
  position: absolute;
  top: -178px;
  bottom: auto;
  left: 0%;
  right: auto;
}

.back-view {
  width: 1170px;
  max-width: none;
  object-fit: fill;
  margin-top: 120px;
  margin-left: -159px;
  position: static;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: rotate(0);
}

.back-text-block {
  width: auto;
  flex-direction: column;
  margin-left: -79px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.div-block-14 {
  width: 100%;
}

.car-drawing {
  width: auto;
  height: 8rem;
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.link {
  color: #2e2e2e;
}

.bold-link {
  color: #000;
}

@media screen and (max-width: 1333px) {
  .contedorgrid2 {
    width: 31rem !important;
  }
}

@media screen and (max-width: 1219px) {
  .contedorgrid {
    padding: 2rem;
    padding-top: 2rem;
    padding-bottom: 0rem;
    gap: 2rem;
  }
  .contedorgrid2 {
    width: 29rem !important;
  }
}

@media screen and (max-width: 991px) {
  .hero-section {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
  }

  .contedorgrid2 {
    width: 27rem !important;
  }

  .contedorgrid {
    padding: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 0rem;
    gap: 1.5rem;
  }

  .hero-container {
    margin-left: -90px;
  }

  .h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .hero-left-column {
    width: 360px;
  }

  .hero-right-column {
    margin-left: -50px;
  }

  .h2.margin-top-100 {
    margin-top: 100px;
  }

  .jaguar-text {
    font-size: 14px;
  }

  .d-type-text {
    font-size: 40px;
  }

  .date {
    font-size: 14px;
  }

  .row-2-columns {
    grid-column-gap: 4px;
    grid-template-columns: 1.25fr 1fr;
  }

  .container-large {
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .container-large.rotation {
    width: auto;
  }

  .info-block {
    grid-column-gap: 4px;
    padding-left: 130px;
  }

  .div-block-11 {
    width: 39px;
  }

  .big-text {
    font-size: 70px;
    line-height: 58px;
  }

  .big-text._2 {
    margin-top: 0;
  }

  .front-text-block {
    width: auto;
    margin-left: 310px;
  }

  .back-view {
    margin-top: -61px;
  }

  .back-text-block {
    right: 200px;
  }
}

@media screen and (max-width: 767px) {
  .hero-section {
    width: 100vw;
    height: 100vh;
    padding-top: 40px;
    margin-bottom: 10rem;
  }

  .card {
    width: 85%;
    height: 17rem;
  }

  .cards {
    height: 17rem;
  }

  .hero-container {
    max-width: 500px;
  }

  .contedorgrid2 {
    width: 90% !important;
  }

  .h1 {
    font-size: 30px;
    line-height: 41px;
    line-height: 45px !important;
  }

  .hero-left-column {
    width: 250px;
  }

  .hero-right-column {
    width: 250px;
    margin-left: -40px;
  }

  .h2 {
    letter-spacing: 3px;
    font-size: 0.85rem;
  }

  .jaguar-text {
    font-size: 9px;
    line-height: 20px;
  }

  .d-type-text {
    font-size: 30px;
    line-height: 30px;
  }

  .date {
    letter-spacing: 4px;
    font-size: 10px;
  }

  .container {
    width: auto;
    padding-left: 60px;
    padding-right: 60px;
  }

  .row-2-columns {
    flex-direction: column;
    display: flex;
  }

  .container-large {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }

  .subtitle {
    letter-spacing: 3px;
    font-size: 10px;
  }

  .big-text {
    font-size: 50px;
    line-height: 41px;
  }

  .front-text-block {
    margin-left: 390px;
  }

  .back-text-block {
    margin-left: -70px;
    right: 310px;
  }
  .labelStylegif {
    font-size: 0.8rem;
    line-height: 22px;
  }
}

@media screen and (max-width: 479px) {
  .hero-section {
    width: 100vw;
    height: 100vh;
    padding-top: 0;
    margin-bottom: 1rem;
  }

  .hero-container {
    grid-template-columns: 1fr;
    margin-left: 0;
    padding-left: 40px;
    padding-right: 40px;
    transform: none;
  }

  .contedorgrid2 {
    width: 100% !important;
  }

  .section {
    height: auto;
  }

  .top-view-jaguar {
    width: auto;
    margin-top: 0;
    display: none;
  }

  .h1 {
    font-size: 25px;
    line-height: 35px;
    line-height: 40px !important;
  }

  .hero-left-column {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .hero-right-column {
    width: auto;
    margin-left: 0;
  }

  .h2 {
    font-size: 0.8rem;
  }

  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .paragraph._2 {
    width: auto;
    margin-left: 0;
  }

  .label {
    font-size: 11px;
  }

  .bold-text {
    font-size: 17px;
  }

  .container-large {
    padding-left: 40px;
    padding-right: 40px;
  }

  .container-large.rotation {
    transform: none;
  }

  .subtitle {
    font-size: 10px;
  }

  .info-block {
    padding-left: 0;
  }

  .label-copy {
    font-size: 11px;
  }

  .big-text {
    font-size: 40px;
    line-height: 35px;
  }

  .front-text-block {
    width: 320px;
  }

  .back-text-block {
    z-index: 130;
    width: 320px;
    margin-left: 390px;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
  }

  .div-block-14 {
    grid-template-columns: 1fr;
  }

  .card {
    width: 95%;
    height: 17.5rem;
  }

  .cards {
    height: 17.5rem;
  }
}

#w-node-div-block-12-7409177d,
#w-node-e7d1960f-ce2f-b014-0439-7b6d5cdfeb98-7409177d,
#w-node-_747c72c2-04c6-bb78-0162-9ab694bec2ee-7409177d,
#w-node-_74b4244e-f003-67dc-7da5-6ddeff42fba1-7409177d,
#w-node-_0ebd6086-93b9-2546-1d95-7a56b86f3dcb-7409177d,
#w-node-_2b4c9dc5-c276-9ec9-0f40-6fbe8c894c55-7409177d {
  align-self: center;
}

#w-node-_39ce6ef6-0358-7927-3f50-7d7400b0bc9d-7409177d {
  justify-self: auto;
}

#w-node-_7d845dc5-cf36-100c-0904-a751340f8059-7409177d,
#w-node-_4054cbf3-b779-4af4-ce1b-623b4b420665-7409177d,
#w-node-da236504-93d8-857f-67d9-88d4668cce99-7409177d,
#w-node-_2a8bbf13-8aad-98ec-db55-76f100092f26-7409177d,
#w-node-d0ab3de9-0755-c1ba-0bf5-1406b1b95c42-7409177d,
#w-node-d0ab3de9-0755-c1ba-0bf5-1406b1b95c49-7409177d,
#w-node-d0ab3de9-0755-c1ba-0bf5-1406b1b95c50-7409177d,
#w-node-d0ab3de9-0755-c1ba-0bf5-1406b1b95c57-7409177d {
  align-self: center;
}

@media screen and (max-width: 479px) {
  #w-node-div-block-4-7409177d {
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media (min-width: 767px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 767px) {
  .gifsection4 {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .gifContainer {
    width: 100%;
    height: 12rem;
    width: auto;
    padding: 10px;
  }

  .labelStylegif {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
  }
  .contedorgrid {
    grid-template-columns: 1fr;
  }
  .textFooter {
    padding-right: 0rem;
  }
  .top-view-jaguar2 {
    display: none;
  }
  .section4ro {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .labelStyle {
    color: #0d0d3f;
    text-align: start;
    letter-spacing: 8px;
    font-size: 0.8rem;
    font-weight: 520;
    line-height: 28px;
    margin-bottom: 2rem;
  }

  .labelStyleAnimate strong {
    font-size: 1.2rem;
  }

  .parrStyle {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1rem !important;
  }

  .section.margin-top-100 {
    height: auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .labelStyleAnimate strong {
    font-size: 0.87rem !important;
  }

  .labelStyleAnimate {
    color: #585858;
    text-align: start;
    letter-spacing: 1px;
    font-size: 0.85rem;
    font-weight: 480;
    line-height: 28px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .subtitleText {
    font-size: 1.1rem;
    white-space: nowrap;
  }
  .section2 {
    opacity: 0;
    padding-left: 0rem;
  }
  .sectiontext3 {
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .stageStrong {
    font-size: 1.2rem !important;
  }
  .sectionimg3 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: min-content;
    margin-bottom: 4rem;
  }
  .section.margin-top-220 {
    height: auto;
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .titleList {
    list-style: none;
    padding: 0;
  }

  .textlist {
    font-size: 0.85rem;
    opacity: 0.7;
  }

  .titleList strong {
    font-size: 1rem;
  }
  .separeteList {
    margin-bottom: 5px;
  }
  .imageColumn {
    display: none;
  }
  .outline-block {
    margin-left: 0rem;
  }
  .contedorgrid {
    padding: 0.8rem;
    padding-top: 10rem;
    padding-bottom: 0rem;
  }
  .contedorgrid div {
    padding: 0px;
  }
  .titleList img {
    margin-right: 0rem;
  }
  .textWrap {
    white-space: nowrap;
  }
  .featurestext {
    text-align: start;
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
  .car-drawing {
    display: flex;
  }
  .section7 .column-items {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .section7 {
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 0rem;
    padding-left: 0.7rem;
  }
  .h2Person {
    color: #0d0d3f;
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 479px) {
  .gifsection4 {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .h2Person {
    color: #0d0d3f;
    font-size: 0.55rem;
  }

  .graphic-element-01 {
    display: none;
  }

  .graphic-element-04 {
    display: none;
  }

  .car-drawing {
    display: flex;
  }

  .gifContainer {
    width: 100%;
    height: 12rem;
    width: auto;
    padding: 10px;
  }

  .contedorgrid {
    grid-template-columns: 1fr;
    padding: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
  }

  .textFooter {
    padding-right: 0rem;
  }
  .top-view-jaguar2 {
    display: none;
  }
  .section4ro {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .labelStyle {
    color: #0d0d3f;
    text-align: start;
    letter-spacing: 8px;
    font-size: 0.8rem;
    font-weight: 520;
    line-height: 28px;
    margin-bottom: 2rem;
  }
  .parrStyle {
    font-size: 0.9rem;
    line-height: 1rem !important;
  }
  .section.margin-top-100 {
    height: auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .labelStyleAnimate strong {
    font-size: 0.82rem !important;
  }
  .labelStyleAnimate {
    color: #585858;
    text-align: start;
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: 480;
    line-height: 28px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .subtitleText {
    font-size: 1rem;
    white-space: nowrap;
  }
  .section2 {
    opacity: 0;
    padding-left: 0rem;
  }
  .sectiontext3 {
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 0.8rem;
  }
  .stageStrong {
    font-size: 1.2rem !important;
  }
  .sectionimg3 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: min-content;
    margin-bottom: 4rem;
  }
  .section.margin-top-220 {
    height: auto;
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .titleList {
    list-style: none;
    padding: 0;
  }

  .textlist {
    font-size: 0.85rem;
    opacity: 0.7;
  }

  .titleList strong {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .separeteList {
    margin-bottom: 15px;
  }
  .imageColumn {
    display: none;
  }
  .outline-block {
    margin-left: 0rem;
  }
  .hero-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
  }
  .section7 .column-items {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .section7 {
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 0rem;
    padding-left: 0.7rem;
  }
}
